/* ==UserStyle==
@name        Tildes Dark and Flat
@namespace   tildes.net
@version     1.0.0
@author      rndmprsn
@description Dark and Flat for Tildes.net
@homepageURL https://gitlab.com/jfecher/Tildes-DarkAndFlat
@supportURL  https://gitlab.com/jfecher/Tildes-DarkAndFlat/issues
@license     MIT
==/UserStyle== */

@-moz-document domain('tildes.net'){
body {
    background-color: rgb(15, 15, 15);
    color: #eee;
}

body main,
html {
    background-color: rgb(33, 33, 33);
}

body #sidebar {
    background-color: rgb(33, 33, 33);
}

body .site-header-logo {
    color: #ddd !important;
}

body .topic-text-excerpt,
body .topic-text-excerpt[open],
body .tab .tab-item a,
body .btn-light {
    color: #ddd;
}

body .site-header-context,
body .site-header-username,
body .logged-in-user-username,
.label-light,
body .btn-post-action:hover {
    color: #ccc;
}

body section,
body .comment[data-comment-depth="0"],
body .comment,
body .tab-listing-order,
body .btn-light {
    border-color: #555;
}

.bg-none {
    border-color: #555 !important;
}

body .tab .tab-item.active a,
body .tab .tab-item.active button {
    border-color: #55aaff;
}

body a,
body .tab .tab-item.active a,
body .tab .tab-item.active button,
body .btn-link {
    color: #55aaff !important;
}

body a:hover,
body .tab .tab-item.active button:hover,
body .btn.btn-link:hover {
    color: #aaccff !important;
}

.table td,
.table th {
    border: none;
}

body tbody tr,
body .is-comment-collapsed:not(:target) header,
body .is-comment-collapsed-individual:not(:target) > .comment-itself header,
body.theme-black .is-comment-collapsed:not(:target) header,
body.theme-black .is-comment-collapsed-individual:not(:target) > .comment-itself header,
body.theme-dark .is-comment-collapsed:not(:target) header,
body.theme-dark .is-comment-collapsed-individual:not(:target) > .comment-itself header,
body.theme-light .is-comment-collapsed:not(:target) header,
body.theme-light .is-comment-collapsed-individual:not(:target) > .comment-itself header {
    background-color: rgb(33, 33, 33) !important;
}

body tbody tr td {
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 5px !important;
}

body .comment header {
    background-color: rgb(33, 33, 33);
    color: #ccc;
}

body .topic-listing > li {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #ccc;
}

.is-comment-by-op > .comment-itself {
    border-color: rgb(30, 100, 150) !important;
}

body .post-button:hover {
    color: #eee;
}

body .form-select:not([multiple]):not([size]),
.form-select:not([multiple]):not([size]) {
    background-color: rgb(55, 55, 55);
    border: none;
}

body .form-input {
    background-color: rgb(55, 55, 55);
    color: #eee;
    border: none;
}

body code,
body pre,
body blockquote {
    background-color: rgb(24, 24, 24);
    color: #ddd;
}
}