/* ==UserStyle==
@name        Tildes Dark and Flat - Improved Hide Comment
@namespace   tildes.net
@version     1.0.0
@author      rndmprsn
@description Dark and Flat for Tildes.net, click on left border of comment to hide it.
@homepageURL https://gitlab.com/jfecher/Tildes-DarkAndFlat
@supportURL  https://gitlab.com/jfecher/Tildes-DarkAndFlat/issues
@license     MIT
==/UserStyle== */

@-moz-document domain('tildes.net'){
body {
    background-color: rgb(15,15,15);
    color: #eee;
}

body main, html {
    background-color: rgb(33,33,33);
}

body #sidebar {
    background-color: rgb(33,33,33);
}

body .site-header-logo, body .topic-text-excerpt,
body .topic-text-excerpt[open] {
    color: #ddd;
}

body .site-header-context, body .site-header-username,
body .logged-in-user-username, .label-light {
    color: #ccc;
}

body section, body .comment[data-comment-depth="0"],
body .comment, body .tab-listing-order {
    border-color: #555;
}

.bg-none {
    border-color: #555 !important;
}

.table td, .table th {
    border: none;
}

body tbody tr, body .is-comment-collapsed:not(:target) header, body .is-comment-collapsed-individual:not(:target) > .comment-itself header, body.theme-black .is-comment-collapsed:not(:target) header, body.theme-black .is-comment-collapsed-individual:not(:target) > .comment-itself header, body.theme-dark .is-comment-collapsed:not(:target) header, body.theme-dark .is-comment-collapsed-individual:not(:target) > .comment-itself header, body.theme-light .is-comment-collapsed:not(:target) header, body.theme-light .is-comment-collapsed-individual:not(:target) > .comment-itself header  {
    background-color: rgb(33,33,33) !important;
}

body tbody tr td {
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 5px !important;
}

body .comment header {
    background-color: rgb(33, 33, 33);
    color: #ccc;
}

body .topic-listing > li {
    background-color: rgba(0,0,0,0.2) !important;
    color: #ccc;
}

.is-comment-by-op > .comment-itself {
    border-color: rgb(30, 100, 150) !important;
}

body .post-button:hover {
    color: #eee;
}

body .form-select:not([multiple]):not([size]),
.form-select:not([multiple]):not([size]) {
    background-color: rgb(55, 55, 55);
    border: none;
}

body .form-input {
    background-color: rgb(55, 55, 55);
    color: #eee;
    border: none;
}

body code, body pre, body blockquote {
    background-color: rgb(24, 24, 24);
    color: #ddd;
}


/* hide comment from left border */
/* from https://gist.github.com/pfgithub/1da7d2024a9748085fccfceaf2ce126d */
/* slightly modified to better fit theme */
.btn.btn-comment-collapse {
    position: absolute;
    transform: translate(-25px, -4px);
    background-color: rgb(55, 55, 55);
    border: none;
    height: 100%;
    width: 5px !important;
    transition: 0.1s background-color, 0.1s transform;
    text-align: right;
    vertical-align: top;
    margin-right: 20px;
    padding-bottom: 100000000%;
    padding-top:7px;
    color: rgb(55, 55, 55);
}

.btn.btn-comment-collapse:hover {
    transform: translate(-25px, -4px);
    background-color: rgba(30, 70, 220, 0.5);
    color: rgba(30, 70, 220, 0.5);
}

.comment {
    overflow: hidden;
    position: relative;
    display: block;
    border: none;
}

.comment-itself {
    padding-left: 10px;
}


}